.about-us {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  background-color: white;
  font-weight: 700;
  width: 320px;

  @media (min-width: @tablet) {
    padding-left: 50px;
    flex-wrap: wrap;
    width: 768px;
  }

  @media (min-width: @desktop) {
    padding-left: 34px;
    padding-top: 40px;
    margin-bottom: 40px;
  }
}

.about-us__header {
  font-size: 25px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @tablet) {
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 12px;
  }
}

.about-us__list {
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  list-style: none;
  margin-top: 0;

  @media (min-width: @tablet) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 470px;
    font-size: 20px;
    line-height: 22px;
    width: 668px;
    margin: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop) {
    width: 700px;
    padding-right: 0;
  }
}

.about-us__item {
  width: 260px;
  margin-top: 83px;
  position: relative;

  @media (min-width: @tablet) {
    width: 310px;
    padding: 0;
    margin-bottom: 27px;
  }

  &--flower::before {
    content: "";
    position: absolute;
    top: -55px;
    left: 8px;
    width: 50px;
    height: 62px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      top: -60px;
      left: 8px;
    }

    @media (min-width: @desktop) {
      top: -55px;
      left: 10px;
    }
  }

  &--money::before {
    content: "";
    position: absolute;
    top: -50px;
    width: 50px;
    height: 62px;
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      top: -55px;
      left: 0;
    }

    @media (min-width: @desktop) {
      top: -55px;
      left: 0;
    }
  }

  &--heart::before {
    content: "";
    position: absolute;
    top: -48px;
    left: 8px;
    width: 50px;
    height: 62px;
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      top: -49px;
      left: 8px;
    }

    @media (min-width: @desktop) {
      top: -49px;
      left: 8px;
    }
  }

  &--ball::before {
    content: "";
    position: absolute;
    top: -50px;
    width: 50px;
    height: 62px;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      top: -55px;
      left: 3px;
    }

    @media (min-width: @desktop) {
      top: -51px;
      left: 3px;
    }
  }

  &--rocket::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -3px;
    width: 60px;
    height: 62px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      top: -52px;
      left: -5px;
    }

    @media (min-width: @desktop) {
      top: -51px;
      left: -3px;
    }
  }

  &--gift::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 2px;
    width: 50px;
    height: 62px;
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      top: -53px;
      left: 3px;
    }

    @media (min-width: @desktop) {
      top: -51px;
      left: 3px;
    }
  }
}
