.description {
  display: flex;
  flex-direction: column;
  background-color: @grey-background;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet) {
    width: 768px;
  }

  @media (min-width: @desktop) {
    width: 1150px;
  }
}

.description__header {
  min-height: 283px;
  text-align: center;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px auto;
  background-position-x: center;
  background-position-y: -17px;

  @media (max-width: @mobile) and (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }

  @media (min-width: @tablet) {
    min-height: 626px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px auto;
  }

  @media (min-width: @tablet) and (min-resolution: 2dppx) {
    min-height: 626px;
    background-image: url("../img/hero-tablet@2x.jpg");
    background-size: 1150px auto;
  }

  @media (min-width: @desktop) {
    min-height: 626px;
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  @media (min-width: @desktop) and (min-resolution: 2dppx) {
    min-height: 626px;
    background-image: url("../img/hero-desktop@2x.jpg");
  }
}

.description__header h1 {
  display: block;
  margin: auto;
  margin-top: 73px;
  padding: 0;
  font-size: 27px;
  line-height: 30px;
  width: 290px;

  @media (min-width: @tablet) {
    display: block;
    font-size: 43px;
    line-height: 50px;
    width: 660px;
    margin-top: 154px;
  }

  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
    margin-top: 158px;
  }
}

.description__header p {
  text-align: end;
  margin-right: 50px;
  font-size: 15px;
  line-height: 24px;
  color: @lighter-black;

  @media (max-width: @mobile) {
    display: none;
  }
}


.description__features-list {
  padding: 0;
  margin: auto;
  list-style: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  position: relative;

  @media (min-width: @tablet) {
    display: flex;
    max-width: 668px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      content: "";
      position: absolute;
      top: 105px;
      left: -50px;
      width: 770px;
      height: 20px;
      background-image: url("/img/zigzag-fill-tablet.svg");
    }
  }

  @media (min-width: @desktop) {
    max-width: 1050px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      content: "";
      position: absolute;
      top: 100px;
      left: -50px;
      width: 1150px;
      height: 20px;
      background-image: url("/img/zigzag-fill-desktop.svg");
    }
  }
}

.description__feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 0;
  min-height: 103px;
  width: 320px;
  color: white;

  & svg {
    fill: @one-more-green;
    opacity: 0.5;
  }

  &:hover {
    min-height: 108px;

    & svg {
      opacity: 0.7;
    }
  }

  &:active {
    & svg {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet) {
    width: 334px;
    min-height: 119px;
    padding-right: 36px;

    &:hover {
      min-height: 124px;
    }
  }

  @media (min-width: @desktop) {
    width: 525px;
  }
}

.description__feature--items {
  .description__feature;
  background-color: @light-green;
  padding-right: 36px;


  &:hover {
    background-color: @items-hover-green;
  }

  & span {
    display: inline-block;
    width: 130px;
  }
}

.description__feature--toys {
  .description__feature;
  background-color: @darker-green;
  padding-right: 27px;

  &:hover {
    background-color: @toy-hover-green;
  }

  & span {
    display: inline-block;
    width: 130px;
  }
}
