
.main-nav {
  margin: 0;
}

.main-nav__list {
  list-style: none;
}

.main-nav__list-item {
  border: 1px solid @border-grey;
  min-width: 320px;
  height: 79px;
  text-align: center;
  color: @black;
}

.main-nav__list-item a {
  color: @black;
}
