.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  outline: 1px solid green;
}

.page-header__wrapper {
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header__nav-button {
  width: 20px;
  height: 20px;
  min-height: 14px;
}
