.pop-up {
  width: 320px;
  height: 336px;
}

.pop-up__header {
  font-size: 25px;
  font-weight: 30px;
  text-transform: uppercase;
}

.pop-up__text {
  font-family: "Open Sans", "Arial", sans-serif;
}

.pop-up__form {
  display: flex;
  flex-wrap: wrap;
}

.pop-up__size-radio {
  width: 70px;
  height: 52px;
  border: 2px solid black;
}

.pop-up__submit {
  .button;
  color: white;
  background-color: @light-green;
  border: none;
}
