.product {
  min-height: 374px;
  width: 260px;
}

.product__image {
  background-color: @background-grey;
  height: 195px;
  width: 260px;
}

.product__description {
  border: 1px solid @border-grey;
}

.product__name {
  font-size: 17px;
  line-height: 24px;
}

.product__parameters {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
}

.product__buy {
  width: 204px;
}

.product__price {
  font-size: 15px;
  line-height: 24px;
}
