.product-of-the-week {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 10px;
  font-weight: 700;
  width: 320px;
  position: relative;

  @media (min-width: @tablet) {
    padding-left: 0;
    position: relative;
    width: 664px;
  }

  @media (min-width: @desktop) {
    padding-left: 0;
    position: relative;
    width: 1050px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 320px;
    height: 10px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      background-image: url("../img/zigzag-line-tablet.svg");
      width: 770px;
      height: 20px;
      bottom: -70px;
      left: -50px;
    }

    @media (min-width: @desktop) {
      background-image: url("../img/zigzag-line-desktop.svg");
      width: 1150px;
      height: 30px;
      bottom: -105px;
      left: 0;
    }
  }
}

// вязаные корзинки

.product-of-the-week__name {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;

  @media (min-width: @tablet) {
    margin: 0;
    margin-right: 0;
    font-size: 43px;
    line-height: 50px;
    min-width: 450px;
  }

  @media (min-width: @desktop) {
    margin: 0;
    margin-top: 2px;
    margin-right: 100px;
    font-size: 53px;
    line-height: 57px;
    z-index: 2;
  }
}

// "товар недели"

.product-of-the-week__type {
  font-size: 17px;
  line-height: 20px;
  color: @light-green;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @tablet) {
    margin: 0;
    margin-left: 103px;
    width: 100px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: @desktop) {
    margin: 0;
    margin-top: 0;
    margin-right: 43px;
    margin-left: 32px;
    margin-bottom: 5px;
    width: 100px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }
}

.product-of-the-week__wrapper {
  @media (min-width: @tablet) {
    display: flex;
    padding-top: 43px;
    align-items: center;
  }

  @media (min-width: @desktop) {
    padding-top: 120px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
}

.product-of-the-week__descr {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: @lighter-black;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-right: 30px;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 30px;
    width: 292px;
    margin-bottom: 40px;
    margin-top: 39px;
  }

  @media (min-width: @desktop) {
    font-size: 17px;
    line-height: 30px;
    width: 292px;
    margin-bottom: 55px;
    margin-top: 35px;
    margin-left: 175px;
  }
}

.product-of-the-week__parameters {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: @lighter-black;
  width: 260px;
  border-collapse: collapse;
  margin-bottom: 28px;

  @media (min-width: @tablet) {
    width: 292px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop) {
    width: 292px;
    margin-bottom: 90px;
    margin-left: 175px;
  }

  & tr {
    height: 40px;
    padding-bottom: 34px;
    min-height: 39px;
    margin-bottom: 5px;
  }
}

.product-of-the-week__parameters td {
  border-bottom: 1px solid @border-grey;
}

.product-of-the-week__image {
  background-color: grey;
  width: 260px;
  height: 315px;
  margin-top: 5px;
  margin-bottom: 5px;

  @media (min-width: @tablet) {
    width: 334px;
    height: 404px;
    position: absolute;
    top: 150px;
    left: 330px;
  }

  @media (min-width: @desktop) {
    width: 525px;
    height: 636px;
    position: absolute;
    top: 66px;
    left: 525px;
  }
}

.product-of-the-week__price {
  width: 260px;
  font-size: 17px;
  line-height: 24px;
  color: @lighter-black;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    margin-left: 70px;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 24px;
    margin-left: 248px;
  }
}

.product-of-the-week__purchase {
  margin-left: 0;
  padding-top: 15px;
  width: 260px;

  @media (min-width: @tablet) {
    width: 292px;
    padding-top: 15px;
    margin-left: 0;
  }

  @media (min-width: @desktop) {
    width: 292px;
    margin-left: 175px;
  }
}
