.product-of-the-week {
  outline: 1px solid black;
}

.product-of-the-week__name {
  font-size: 25px;
  line-height: 30px;
}

.product-of-the-week__type {
  font-size: 17px;
  line-height: 20px;
  color: @light-green;
  text-transform: uppercase;
}

.product-of-the-week__descr {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: @lighter-black;
}

.product-of-the-week__parameters {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: @lighter-black;
  width: 260px;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.product-of-the-week__parameters td {
  border-bottom: 1px solid @border-grey;
}

//серый фон - заглушка. уберу, когда вставлю изображение
.product-of-the-week__image {
  background-color: grey;
}

.product-of-the-week__price {
  font-size: 17px;
  line-height: 24px;
  color: @lighter-black;
  text-align: center;
}

.product-of-the-week__purchase {
  .button;
}
