.production {
  min-height: 503px;
  width: 260px;
  border: 1px solid @border-grey;
}

.production__header {
  font-size: 17px;
  line-height: 24px;
}

.production__descr {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.production__order-button {
  .button;
  width: 192px;
}
