.reviews {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  font-weight: 700;
  width: 320px;

  @media (min-width: @tablet) {
    padding-left: 50px;
    position: relative;
    min-height: 540px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    width: 768px;
  }

  @media (min-width: @tablet) {
    width: 1052px;
    padding-left: 180px;
  }
}

.reviews__header {
  @media (min-width: @tablet) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 85px;
  }

  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 85px;
  }
}

.reviews__review {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: @lighter-black;
  width: 260px;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 30px;
    width: 668px;
  }

  @media (min-width: @desktop) {
    width: 875px;
  }
}

.reviews__author-name {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 10px;
  margin-top: 15px;

  @media (min-width: @tablet) {
    font-size: 18px;
    line-height: 24px;
    margin-top: 50px;
  }

  @media (min-width: @desktop) {
    font-size: 17px;
  }
}

.reviews__author-link {
  color: @lighter-black;
  font-weight: 400;
}

.reviews__links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 38px;
  width: 260px;
  height: 52px;

  @media (min-width: @tablet) {
    position: absolute;
    left: 500px;
    top: 380px;
  }

  @media (min-width: @desktop) {
    left: 900px;
    width: 150px;
  }
}

.reviews__previous-link {
  border: 1px solid @border-grey;
  width: 130px;
}

.reviews__next-link {
  border: 1px solid @border-grey;
  border-left: none;
  width: 130px;
}

.reviews__live-a-comment {
  .button;
  margin-left: 0;

  @media (min-width: @tablet) {
    width: 175px;
    position: absolute;
    left: 550px;
    top: 120px;
  }

  @media (min-width: @desktop) {
    left: 880px;
    top: 120px;
  }
}
