.reviews {
  outline: 1px solid lawngreen;
}

.reviews__review {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: @lighter-black;
}

.reviews__author-link {
  color: @lighter-black;
}

.reviews__previous-link {
  border: 1px solid @border-grey;
  width: 130px;
}

.reviews__next-link {
  border: 1px solid @border-grey;
  border-left: none;
  width: 130px;
}

.reviews__live-a-comment {
  .button;
}
