.reviews {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  font-weight: 700;
  width: 320px;
  position: relative;

  @media (min-width: @tablet) {
    position: relative;
    min-height: 540px;
    padding-left: 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 15px;
    width: 768px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px;
    }
  }


  @media (min-width: @desktop) {
    width: 1052px;
    padding-left: 175px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -55px;
    left: 0;
    width: 320px;
    height: 10px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      background-image: url("../img/zigzag-line-tablet.svg");
      width: 770px;
      height: 20px;
      bottom: -20px;
    }

    @media (min-width: @desktop) {
      background-image: url("../img/zigzag-line-desktop.svg");
      width: 1150px;
      height: 30px;
      bottom: -30px;
    }
  }
}

.reviews__header {
  position: relative;
  margin-top: 12px;
  margin-bottom: 2px;

  @media (min-width: @tablet) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 90px;
  }

  @media (min-width: @desktop) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 82px;
    padding-left: 0;
  }
}

.reviews__review {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: @lighter-black;
  width: 260px;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 30px;
    width: 668px;
    margin-top: 37px;
  }

  @media (min-width: @desktop) {
    width: 875px;
    margin-bottom: 0;
    margin-top: 35px;
  }
}

.reviews__author-name {
  display: inline-block;
  vertical-align: baseline;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 20px;

  @media (min-width: @tablet) {
    font-size: 18px;
    line-height: 24px;
    margin-top: 45px;
  }

  @media (min-width: @desktop) {
    font-size: 17px;
  }
}

.reviews__author-link {
  color: @lighter-black;
  font-weight: 400;
  margin-bottom: 5px;
}

.reviews__links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 38px;
  width: 260px;
  height: 52px;

  @media (min-width: @tablet) {
    position: absolute;
    left: 540px;
    top: 343px;
    width: 180px;
  }

  @media (min-width: @desktop) {
    left: 877px;
    width: 175px;
    top: 292px;
  }
}

.reviews__previous-link {
  border: 1px solid @border-grey;
  width: 130px;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  @media (min-width: @tablet) {
    border: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__next-link {
  border: 1px solid @border-grey;
  border-left: none;
  width: 130px;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  @media (min-width: @tablet) {
    border: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__live-a-comment {
  margin-left: 0;
  padding-top: 15px;
  width: 260px;

  @media (min-width: @tablet) {
    width: 175px;
    position: absolute;
    padding-top: 15px;
    left: 543px;
    top: 95px;
  }

  @media (min-width: @desktop) {
    left: 877px;
    top: 94px;
  }
}
