.social-media__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 140px;
  min-height: 80px;
}

.social-media__item svg {
  &:hover {
    fill: @toy-hover-green;
  }

  &:active {
    opacity: 0.3;
  }
}
