.social-media__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  list-style: none;
  width: 145px;
  min-height: 80px;

  @media (min-width: @tablet) {
    padding-top: 10px;
  }
}

.social-media__item svg {
  margin-right: 5px;

  &:hover {
    fill: @toy-hover-green;
  }

  &:active {
    opacity: 0.3;
  }
}
