a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hide {
  display: none;
}

.invisibility {
  visibility: hidden;
}

.page-body {
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 0;
  background-color: @white-background;
  width: 100%;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
