// colours:

@black: #000000;
@lighter-black: #444444;
@grey-background: #F9F9F9;
@white-background: #FFFFFF;
@border-grey: #ECECEC;
@background-grey: #f1f1f1;
@light-green: #63D1BB;
@middle-green: #62D1BA;
@darker-green: #56C3B2;

// media-queries:
@mobile: 767px;
// изначально сделал "@mobile:~"max-width: 767px";", но почему-то NPM мне сказал, что писать "@media (@tablet)" нельзя
@tablet: 768px;
@desktop: 1150px;
